 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 120px;
            background: #6cf;
            text-align: center;
        }
    </style>
</head>
<body>

    <partial name="_navbar" />
    @if (IsSectionDefined("Jumbotron"))
    {
        @RenderSection("Jumbotron")
    }
    <main class="my-5">
        <div class="container">
            @if (TempData["message"]!=null)
            {
                <partial name="ResultMessage" model="@(TempData.Get<Messages>("message"))"/>
            }
            @RenderBody()
        </div>
    </main>
    <footer class="py-5 bg-dark text-white text-center">Shop App | 2021</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @RenderSection("Scripts", false) <!--İf koşuluna göre yazılmaması, sonuna da require mı değilmi onun için true false yazabiliriz.Her sayfada gözükmemesi için false-->
</body>
</html>
