<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Shop App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a href="/admin/createproduct" class="nav-link">Add Product</a>
            </li>
            <li class="nav-item">
                <a href="/admin/products" class="nav-link">Admin Products</a>
            </li>
        </ul>        
    </div>
</div>