@model Product

<div class="card">
    <img class="card-img-top" src="~/images/2.jpg"/>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-dark">İncele</a>
    </div>
</div>