<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search" method="get">
            <div class="form-group">
                <input type="text" name="q" value="" class="form-control" placeholder="Search" />
            </div>            
            <button class="btn btn-dark btn-sm btn-block" type="submit">Ara</button>
        </form>
    </div>
</div>
