@model Product
@await Html.PartialAsync("_navbar")

    <body>
        <h4>Model Adı: @Model.Name</h4>
        <h4>Model Fiyatı : @Model.Price</h4>
        <h4>Model AÇıklaması : @Model.Description</h4>
    </body>
