@model ProductViewModel
@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
}

@section Categories{
    @await Component.InvokeAsync("Categories")
}
@section Jumbotron{
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Shopp Application By "Emre Gundogdu"</p>
            </div>
        </div>
    </header>
}

@if (Model.Products.Count == 0)
{
    @await Html.PartialAsync("_noproduct")
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-md-3">@await Html.PartialAsync("_product", product)</div>
        }
    </div>
}