@model List<Category>
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/products">Tüm Kategoriler</a>
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Shop" asp-action="List" asp-route-category="@item.Url">@item.Name</a>
    }
</div>