<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home/Index</title>
</head>
<body>
    <div>
        <p>@ViewBag.Greeting @ViewBag.UserName, Nasılsınız?</p>        
        <p>Umarım sitemizden memnunsunuzdur</p>    </div>

</body>
</html>